---
Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
  -llvm-header-guard,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: '*'
HeaderFilterRegex: '(src|include)/.*'
FormatStyle: file
---
